<div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <h2>New permission</h2>
      <p>Add a mew permission to the system.</p>
      <form [formGroup]="fg" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" formControlName="name" required>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" formControlName="description" required>
        </div>
        
        <label>Roles</label>
        <div  *ngFor="let rol of Roles, let k = index" class="form-group row p-2 ">
          <input type="checkbox" class="col-4 form-control form-check-input" id="{{rol.name}}" value="{{rol.name}}" (change)="onCheckboxChange($event)">
          <label class="col-4" for="{{rol.name}}">{{rol.name}}</label>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Add Permission</button>
        </div>

      </form>
    </div>
  </div>
  